# the hostname of node which is running cranectld
ControlMachine: cn15
# the name of this cluster
ClusterName: pkuhpc_test
# the ip address of control machine
CraneCtldListenAddr: 0.0.0.0
# the port of control machine to listen
CraneCtldListenPort: 10011

# Tls settings
UseTls: false
ServerCertFilePath: /etc/crane/server.crt
ServerKeyFilePath: /etc/crane/server.key
CaCertFilePath: /etc/crane/ca.crt
DomainSuffix: riley.local

DbConfigPath: /etc/crane/database.yaml

# Craned Options

# debug level of cranectld
CraneCtldDebugLevel: trace
# file path of cranectld log file
CraneCtldLogFile: /tmp/cranectld/cranectld.log
# Determines whether the cranectld is running in the background
CraneCtldForeground: true
# debug level of craned
CranedDebugLevel: trace
# file path of craned log file
CranedLogFile: /tmp/craned/craned.log
# Determines whether the craned is running in the background
CranedForeground: true

# Container
CranedContainer:
  Enable: true
  RuntimeState: "/usr/bin/runc state %n.%u.%j.%s.%t"
  RuntimeKill: "/usr/bin/runc  --rootless=true --root=/run/user/%U/ kill -a %n.%u.%j.%s.%t"
  RuntimeDelete: "/usr/bin/runc  --rootless=true --root=/run/user/%U/ delete --force %n.%u.%j.%s.%t"
  RuntimeRun: "/usr/bin/runc  --rootless=true --root=/run/user/%U/ run %n.%u.%j.%s.%t -b %b"

PriorityType: priority/multifactor

# Default value is true
PriorityFavorSmall: true

PriorityMaxAge: 14-0
PriorityWeightAge: 500
PriorityWeightFairShare: 10000

# 0 means that job size factor is not used.
PriorityWeightJobSize: 0

PriorityWeightPartition: 1000
PriorityWeightQ0S: 1000000


# list of configuration information of the computing machine
Nodes:
  - name: "cn[15-18]"
    cpu: 2
    memory: 2G

# partition information list
Partitions:
  - name: CPU
    nodes: "cn[15-16]"
    priority: 5
  - name: GPU
    nodes: "cn[17-18]"
    priority: 3

DefaultPartition: CPU