name: Clang Format Check

on:
  pull_request:
    branches:
      - master

jobs:
  format:
    if: github.event.pull_request.draft == false || github.event.label.name == 'auto-format'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Switch to current branch
        run: |
          echo "Switching to branch: ${GITHUB_HEAD_REF}"
          git checkout "${GITHUB_HEAD_REF}"
      - name: Set up Git identity
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
      - name: Install latest Clang-Format
        run: |
          sudo apt-get install -y wget lsb-release
          sudo wget -O /tmp/llvm.sh https://apt.llvm.org/llvm.sh
          sudo bash /tmp/llvm.sh 20
          sudo apt update
          sudo apt-get install clang-format-20
      - name: Run clang-format and apply changes
        run: |
          git diff --name-only origin/master...HEAD | while read -r file; do
            if [[ "$file" == *.cpp || "$file" == *.h ]]; then
              clang-format-20 -i --style=file "$file"
            fi
          done

      - name: Handle formatting
        run: |
          LABELS='${{ toJson(github.event.pull_request.labels) }}'
          if ! git diff --quiet; then
            if [[ "$LABELS" == *'"auto-format"'* ]]; then
              echo "Auto-format label present. Committing formatting changes..."
              git config --global user.name "github-actions[bot]"
              git config --global user.email "github-actions[bot]@users.noreply.github.com"
              git add .
              git commit -m "style: auto format with clang-format."
              git push
            else
              echo "Please run clang-format locally or add 'auto-format' label to your PR and request this action again."
            exit 1
            fi
          else
            echo "No formatting changes necessary."
          fi